{% extends 'LegoMyApp/lego_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container">
        <form method="POST" enctype="multipart/form-data" class="LegoTable"> <!-- "enctype" needed to uplaod files using imagefild or filefield-->
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            {{form.non_field_errors}}
            <button class="LegoButtonEdit" type="submit">Edit</button>
        </form>
    <hr />
    <button class="LegoButton" type="button" onclick="location.href='{% url 'list_lego_sets' %}'">Back to Collection</button>
</div>
</section>
{% endblock %}