{% extends 'LegoMyApp/lego_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <form method="POST" class="minifig_delete">
        {% csrf_token %}
        <p id="lego_deletetext">To remove this character from the database,<br>
            press the "Delete" button. Press "Back" to return to index.</p>
        <br>
        <a href="{% url 'list_minifigs' %}"><button class="LegoButton" type="button"></button>Back</a>
        <input type="submit" value="Delete" class="lego_delete_button">
    </form>
{% endblock %}